.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #12121266;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 700ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 1240px;
  border-radius: 8px;
  object-fit: cover;
  padding: 5px;
  transform: translateY(0);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal img {
  width: 600px;
}
.backdrop.is-hidden .modal {
  transform: translateY(-200%);
}

.modal-description {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.modal-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}
.modal-chapter {
  font-size: 18px;
  font-weight: 700;
}
.modal-chapter-text {
  margin-bottom: 16px;
}
